<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div id="reactEntry"></div>
  <div id="json"></div>
  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>

  <!-- <script>
      var ws = new WebSocket("ws://127.0.0.1:13254/");
      var textAray=[];
      ws.onmessage = function (event) {
          var obj = JSON.parse(event.data)
          textAray.push(obj);

          //document.getElementById("json").innerHTML= textAray;

      };
  </script> -->


</body>
